{% include "Component/header.html" %}
{% include "Component/sidebar.html" %}

<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Brand Records</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="brandTable" class="table table-bordered table-hover text-center">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Brand Name</th>
                    <th>Image</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in bData %}
                  {% if i.id == id %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.bname }}</td>
                    <td>
                      <img height="100px" width="100px" src="../media/{{ i.img }}">
                    </td>
                    <td>
                      <a href="/brand-list/" class="btn btn-primary">Back</a>
                    </td>
                  </tr>
                  {% endif %}
                  {% empty %}
                  <tr>
                    <td colspan="4">No records found</td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Brand Name</th>
                    <th>Image</th>
                    <th>Action</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

{% include "Component/footer.html" %}
