<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BillerPOS | Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>BillerPOS</h1>
            <p>Hello <span class="highlight">Good Morning</span>, Welcome Back!</p>
            <form method="post" action="/valid/">  <!-- Update the action to /valid/ -->
                {% csrf_token %}
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter Email" required>  <!-- Add name attribute -->

                <label for="password">Password</label>
                <div class="password-container">
                    <input type="password" id="password" name="password" placeholder="Enter Password" required>  <!-- Add name attribute -->
                </div>

                <div class="options">
                    <a href="#">Forgot password?</a>
                    <br><br>
                </div>

                <br>
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>
</body>
</html>
