<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="/static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Biller Pos</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      {% comment %} <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/static/dist\img\user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Itachi Uchiha</a>
        </div>
      </div> {% endcomment %}

      <!-- SidebarSearch Form -->
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->


               <li class="nav-item">
                <a href="/customer-list/" class="nav-link">
                  <i class="nav-icon fas fa-users"></i>
                  <p>
                    Dashboard
                    {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                  </p>
                </a>
              </li>


              <li class="nav-item">
                <a href="/customer-list/" class="nav-link">
                    <i class="fa-solid fa-circle-user"></i>
                  <p>
                    POS
                    {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/customer-list/" class="nav-link">
                  <i class="nav-icon fas fa-users"></i>
                  <p>
                    Purchase
                    {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/customer-list/" class="nav-link">
                  <i class="nav-icon fas fa-users"></i>
                  <p>
                    Purchase
                    {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/customer-list/" class="nav-link">
                  <i class="nav-icon fas fa-users"></i>
                  <p>
                    Sale
                    {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/customer-list/" class="nav-link">
                  <i class="nav-icon fas fa-users"></i>
                  <p>
                    Products
                    {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="/customer-list/" class="nav-link">
                  <i class="nav-icon fas fa-users"></i>
                  <p>
                    BarcodePrint
                    {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                  </p>
                </a>
              </li>



          <li class="nav-item">
            <a href="/customer-list/" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Customers
                
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/customer-list/" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Supplier
                
              </p>
            </a>
          </li>


          <li class="nav-item">
            <a href="/customer-list/" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Stock
                
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/customer-list/" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Settings
                
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/customer-list/" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Payment/Receipt
                
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/customer-list/" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Reward Points
                
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/customer-list/" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                HR Departments
                
              </p>
            </a>
          </li>


          <li class="nav-item">
            <a href="/customer-list/" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Reports
                
              </p>
            </a>
          </li>


          <li class="nav-item">
            <a href="/customer-list/" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                User Management
                
              </p>
            </a>
          </li>

          {% comment %} <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-cog"></i>
              <p>
                Settings
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right">6</span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/city-list/" class="nav-link">
                  <i class="nav-icon fas fa-arrow-right"></i>
                  <p>
                    City
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/customergrp-list/" class="nav-link">
                  <i class="nav-icon fas fa-arrow-right"></i>
                  <p>
                    Customer Group
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/department-list/" class="nav-link">
                  <i class="nav-icon fas fa-arrow-right"></i>
                  <p>
                    Departments
                  </p>
                </a>
              </li>
            </ul>
             
             

            </ul>
          </li> {% endcomment %}
     
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>