{% include "Component/header.html" %}
{% include "Component/sidebar.html" %}


<div class="container-fluid">
    <div class="content-wrapper">
        <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
        
          <div class="card-header">
            <h3 class="card-title">Payment Records &amp; view </h3>
            
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                   
                </div>
                <div class="col-sm-12 col-md-6">
                   
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table id="example1" class="table table-bordered table-striped dataTable dtr-inline"
                    aria-describedby="example1_info">
                    <thead>
                      <tr>
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                          aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                          ID</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                          aria-label="Browser: activate to sort column ascending">Brand Name</th>
                        
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                          aria-label="Engine version: activate to sort column ascending">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for i in pdata %}
                        {% if i.id == id %}
                      <tr class="odd">
                        <td class="dtr-control sorting_1" tabindex="0">{{ forloop.counter }}</td>
                        <td>{{ i.pname }}</td>

                        <td><a href="/Payment-list/" class="btn btn-primary">Back
                        </a></td>
                      </tr>
                      {% endif %}
                      {% empty %}
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <th rowspan="1" colspan="1">ID</th>
                        <th rowspan="1" colspan="1">Brand Name</th>
                        
                        <th rowspan="1" colspan="1">Action</th>

                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                    <ul class="pagination">
                      <li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#"
                          aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                      <li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1"
                          tabindex="0" class="page-link">1</a></li>
                      <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2"
                          tabindex="0" class="page-link">2</a></li>
                      <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3"
                          tabindex="0" class="page-link">3</a></li>
                      <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4"
                          tabindex="0" class="page-link">4</a></li>
                      <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5"
                          tabindex="0" class="page-link">5</a></li>
                      <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6"
                          tabindex="0" class="page-link">6</a></li>
                      <li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1"
                          data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

       
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
</div>



</div>
{% include "Component/footer.html" %}
